.navigation-menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #4abdac;
  justify-content: space-around;

  a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
}
.navigation-menu a:hover {
  background-color: #ddd; /* Light grey background on hover */
}

.navigation-menu a:active {
  background-color: #ccc; /* Slightly darker grey to simulate a pressed button */
}

.form {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.form-content input {
  margin-bottom: 7px;
}
